body{
    background-color: #efc955;
}
h1 {
    text-align: center;
    background-color: aliceblue;
    padding: 50px;
}

ul{
    list-style-position: outside;
    display: block;
    padding: 0px;
}

li {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 30px;
    background-color: blanchedalmond;
    text-align: center;
    font-weight: bold;
    font-size: large;
}